In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("D:/Data science/Dataset/Real_Estate_Sales_2001-2022_GL.csv")
df.head(1)

C:\Users\ACER\AppData\Local\Temp\ipykernel_1568\2672399188.py:1: DtypeWarning: Columns (8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("D:/Data science/Dataset/Real_Estate_Sales_2001-2022_GL.csv")

,Serial Number,List Year,Date Recorded,Town,Address,Assessed Value,Sale Amount,Sales Ratio,Property Type,Residential Type,Non Use Code,Assessor Remarks,OPM remarks,Location
0,220008,2022,01/30/2023,Andover,618 ROUTE 6,139020.0,232000.0,0.5992,Residential,Single Family,NaN,NaN,NaN,POINT (-72.343628962 41.728431984)

In [5]:
for i in df.columns.tolist():
    print(f'Unique values in {i} column:', df[i].unique())

Unique values in Serial Number column: [ 220008 2020348   20002 ... 1900749 1900695 1910419]
Unique values in List Year column: [2022 2020 2021 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011
 2012 2013 2014 2015 2016 2017 2018 2019]
Unique values in Date Recorded column: ['01/30/2023' '09/13/2021' '10/02/2020' ... '04/12/2020' '03/21/2020'
 '03/07/2020']
Unique values in Town column: ['Andover' 'Ansonia' 'Ashford' 'Avon' 'Beacon Falls' 'Berlin' 'Branford'
 'Bethany' 'Bethlehem' 'Bloomfield' 'Bethel' 'Bridgeport' 'Bristol'
 'Cheshire' 'Brookfield' 'Canaan' 'Canton' 'Cornwall' 'Coventry' 'Chester'
 'Colchester' 'Columbia' 'Canterbury' 'Cromwell' 'Danbury' 'East Lyme'
 'Derby' 'Eastford' 'East Haddam' 'Greenwich' 'East Haven' 'Farmington'
 'Chaplin' 'Clinton' 'East Hampton' 'Easton' 'Enfield' 'Ellington'
 'Hamden' 'Fairfield' 'Essex' 'Hartford' 'Durham' 'Franklin' 'Glastonbury'
 'Killingly' 'Granby' 'Ledyard' 'Guilford' 'Colebrook' 'Meriden'
 'East Windsor' 'Griswold' 'Bolton' 'Groton' 'Middlebury' 'Madison'
 'Mansfield' 'Harwinton' 'Milford' 'Killingworth' 'Lebanon' 'Lisbon'
 'Litchfield' 'Lyme' 'Manchester' 'New London' 'New Britain' 'Putnam'
 'Norwalk' 'New Milford' 'Norfolk' 'Stafford' 'New Canaan' 'Sherman'
 'North Haven' 'Stratford' 'Roxbury' 'Oxford' 'New Haven' 'Old Lyme'
 'Norwich' 'Sharon' 'Monroe' 'Tolland' 'Torrington' 'Newtown' 'Naugatuck'
 'Ridgefield' 'Orange' 'New Fairfield' 'New Hartford' 'Somers'
 'Plainfield' 'Suffield' 'Plainville' 'Preston' 'West Haven' 'Morris'
 'Wallingford' 'Thompson' 'Stonington' 'Waterbury' 'Stamford' 'Southbury'
 'Newington' 'Vernon' 'Watertown' 'West Hartford' 'Plymouth' 'Portland'
 'Redding' 'Warren' 'Rocky Hill' 'Salem' 'Winchester' 'Shelton' 'Simsbury'
 'Windsor' 'Woodbury' 'Montville' 'North Branford' 'East Hartford'
 'Hampton' 'Hebron' 'Darien' 'Burlington' 'Middlefield' 'Brooklyn'
 'Haddam' 'Barkhamsted' 'Kent' 'East Granby' 'South Windsor' 'Deep River'
 'Marlborough' 'Hartland' 'Washington' 'Sterling' 'Thomaston' 'Waterford'
 'Trumbull' 'Old Saybrook' 'Westport' 'Westbrook' 'Middletown' 'Goshen'
 'Bridgewater' 'Wethersfield' 'Bozrah' 'Willington' 'Wilton'
 'Windsor Locks' 'Wolcott' 'Woodstock' 'Prospect' 'Southington' 'Windham'
 'Weston' 'Voluntown' 'North Canaan' 'Scotland' 'Sprague' 'Pomfret'
 'Seymour' 'Woodbridge' 'Union' 'North Stonington' 'Salisbury'
 '***Unknown***']
Unique values in Address column: ['618 ROUTE 6' '230 WAKELEE AVE' '390 TURNPIKE RD' ... '191 HUNTER DRIVE'
 '355 PIERPONT RD' '126 PERKINS AVE']
Unique values in Assessed Value column: [ 139020.  150500.  253000. ...   87955.  516990. 4035970.]
Unique values in Sale Amount column: [ 232000.  325000.  430000. ...  169504.  356021. 1134708.]
Unique values in Sales Ratio column: [0.5992     0.463      0.5883     ... 0.39486364 1.301625   1.13766478]
Unique values in Property Type column: ['Residential' 'Commercial' 'Vacant Land' nan 'Apartments' 'Industrial'
 'Public Utility' 'Condo' 'Two Family' 'Three Family' 'Single Family'
 'Four Family']
Unique values in Residential Type column: ['Single Family' nan 'Condo' 'Two Family' 'Four Family' 'Three Family']
Unique values in Non Use Code column: [nan '08 - Part Interest' '14 - Foreclosure' '25 - Other' '01 - Family'
 '12 - Non Buildable Lot' '7' '8' '28' '10 - A Will' '24' '1'
 '07 - Change in Property' '25' '3' '18' '6' '17'
 '26 - Rehabilitation Deferred' '09 - Tax' '03 - Inter Corporation'
 '16 - Charitable Group' '28 - Use Assessment' '06 - Portion of Property'
 '02 - Love and Affection' '17 - Two Towns' '24 - Plottage'
 '05 - Deed Date' '18 - In Lieu Of Foreclosure' '12'
 '04 - Correcting Deed' '19 - Easement' '15 - Government Agency'
 '11 - Court Order' '27 - CRUMBLING FOUNDATION ASSESSMENT REDUCTION'
 '21 - Personal Property Exchange' '2' '22 - Money and Personal Property'
 '13 - Bankrupcy' '15' '30 - Auction' '23 - Zoning' 'Single Family' '14'
 '20 - Cemetery' '29' '30' '19' '10' '11' '21' '4' '16'
 '29 - No Consideration' '13' '9' '22' '23' '5' '26' 6.0 28.0 1.0 7.0 15.0
 16.0 25.0 8.0 14.0 3.0 9.0 2.0 24.0 13.0 18.0 4.0 19.0 11.0 17.0 10.0
 22.0 12.0 29.0 5.0 21.0 23.0 33.0 27.0 26.0 30.0 20.0 73.0 68.0 31.0 48.0
 38.0 37.0 55.0 32.0 88.0 '27' '31' '34' '74' '32' '75']
Unique values in Assessor Remarks column: [nan 'WATERFRONT/COTTAGE ONLY/LAND IS ASSOCIATION OWNED'
 'FORECLOSURE SALE OUT OF BANK' ... 'FAMILY & FARM LAND'
 'FORECLOSURE BY SALE:  1-7-9-0' 'MOTIVATED SELLER -DIVORCE']
Unique values in OPM remarks column: [nan 'GAS STATION' 'GOOD SALE PER MLS' ... 'INCLUDES #19158'
 'TOTAL RENOVATION PER MLS - SEE PREVIOUS SALE #1900075'
 'PER MLS CLOSING PRICE = $1,145,000']
Unique values in Location column: ['POINT (-72.343628962 41.728431984)' nan
 'POINT (-72.846365959 41.781677018)' ... 'POINT (-72.80758 41.68147)'
 'POINT (-72.96622 41.32883)' 'POINT (-72.07006 41.53315)']

In [7]:
df['Property Type'].value_counts()

Property Type
Single Family     401612
Residential       151064
Condo             105420
Two Family         26408
Three Family       12586
Vacant Land         7824
Commercial          5987
Four Family         2150
Apartments          1327
Industrial           795
Public Utility        10
Name: count, dtype: int64

In [9]:
df.columns

Index(['Serial Number', 'List Year', 'Date Recorded', 'Town', 'Address',
       'Assessed Value', 'Sale Amount', 'Sales Ratio', 'Property Type',
       'Residential Type', 'Non Use Code', 'Assessor Remarks', 'OPM remarks',
       'Location'],
      dtype='object')

In [11]:
df.rename(columns={
    'Serial Number':'Serial_Number',
    'List Year':'List_Year', 
    'Date Recorded':'Date_Recorded',
    'Assessed Value':'Assessed_Value', 
    'Sale Amount':'Sale_Amount', 
    'Sales Ratio':"Sale_Ration", 
    'Property Type':"Property_Type",
       'Residential Type':"Residential_Type", 
    'Non Use Code':"Non_Use_Code", 'Assessor Remarks':"Assessor_Remarks", 'OPM remarks':"OPM_Remarks"
}, inplace=True)

In [13]:
df.head(1)

,Serial_Number,List_Year,Date_Recorded,Town,Address,Assessed_Value,Sale_Amount,Sale_Ration,Property_Type,Residential_Type,Non_Use_Code,Assessor_Remarks,OPM_Remarks,Location
0,220008,2022,01/30/2023,Andover,618 ROUTE 6,139020.0,232000.0,0.5992,Residential,Single Family,NaN,NaN,NaN,POINT (-72.343628962 41.728431984)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1097629 entries, 0 to 1097628
Data columns (total 14 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Serial_Number     1097629 non-null  int64
 1   List_Year         1097629 non-null  int64
 2   Date_Recorded     1097627 non-null  object
 3   Town              1097629 non-null  object
 4   Address           1097578 non-null  object
 5   Assessed_Value    1097629 non-null  float64
 6   Sale_Amount       1097629 non-null  float64
 7   Sale_Ration       1097629 non-null  float64
 8   Property_Type     715183 non-null   object
 9   Residential_Type  699240 non-null   object
 10  Non_Use_Code      313451 non-null   object
 11  Assessor_Remarks  171228 non-null   object
 12  OPM_Remarks       13031 non-null    object
 13  Location          298111 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 117.2+ MB

In [17]:
df['Property_Type'].unique()

array(['Residential', 'Commercial', 'Vacant Land', nan, 'Apartments',
       'Industrial', 'Public Utility', 'Condo', 'Two Family',
       'Three Family', 'Single Family', 'Four Family'], dtype=object)

In [19]:
df['Residential_Type'].unique()

array(['Single Family', nan, 'Condo', 'Two Family', 'Four Family',
       'Three Family'], dtype=object)

In [23]:
df['Non_Use_Code'].unique()

array([nan, '08 - Part Interest', '14 - Foreclosure', '25 - Other',
       '01 - Family', '12 - Non Buildable Lot', '7', '8', '28',
       '10 - A Will', '24', '1', '07 - Change in Property', '25', '3',
       '18', '6', '17', '26 - Rehabilitation Deferred', '09 - Tax',
       '03 - Inter Corporation', '16 - Charitable Group',
       '28 - Use Assessment', '06 - Portion of Property',
       '02 - Love and Affection', '17 - Two Towns', '24 - Plottage',
       '05 - Deed Date', '18 - In Lieu Of Foreclosure', '12',
       '04 - Correcting Deed', '19 - Easement', '15 - Government Agency',
       '11 - Court Order',
       '27 - CRUMBLING FOUNDATION ASSESSMENT REDUCTION',
       '21 - Personal Property Exchange', '2',
       '22 - Money and Personal Property', '13 - Bankrupcy', '15',
       '30 - Auction', '23 - Zoning', 'Single Family', '14',
       '20 - Cemetery', '29', '30', '19', '10', '11', '21', '4', '16',
       '29 - No Consideration', '13', '9', '22', '23', '5', '26', 6.0,
       28.0, 1.0, 7.0, 15.0, 16.0, 25.0, 8.0, 14.0, 3.0, 9.0, 2.0, 24.0,
       13.0, 18.0, 4.0, 19.0, 11.0, 17.0, 10.0, 22.0, 12.0, 29.0, 5.0,
       21.0, 23.0, 33.0, 27.0, 26.0, 30.0, 20.0, 73.0, 68.0, 31.0, 48.0,
       38.0, 37.0, 55.0, 32.0, 88.0, '27', '31', '34', '74', '32', '75'],
      dtype=object)

In [29]:
df['Assessor_Remarks'].value_counts()

Assessor_Remarks
ESTATE SALE                                       5663
BELOW MARKET                                      2574
SHORT SALE                                        2553
NEW CONSTRUCTION                                  2430
SALES RATIO                                       2222
                                                  ...
INCLDS VAC LOT ON PRESCOTT ST ASSESSED AT 3580       1
RESIDENTIAL/ COMMERCIAL                              1
E20069                                               1
per vision parcel under PA 490                       1
MOTIVATED SELLER -DIVORCE                            1
Name: count, Length: 75286, dtype: int64

In [33]:
df['OPM_Remarks'].value_counts()

OPM_Remarks
GOOD SALE PER MLS                                                                           1200
NO MLS                                                                                       649
TOTAL RENOVATION PER MLS                                                                     563
NEW CONSTRUCTION                                                                             453
SHORT SALE PER MLS                                                                           355
                                                                                            ...
PER MLS INTERIOR IS STUDS ONLY. REAR WING OF HOUSE HAS BEEN DEMOLISHED.                        1
BELOW MARKET - PREVIOUS SALE 10/2021 $32,000 - ALSO SOLD 5/23/23 $51,900 AS IS (#220337)       1
ASSESSMENT INCREASED TO $25,280 FOR 2023 GRAND LIST                                            1
NEW HOME ALREADY BUILT                                                                         1
PER MLS CLOSING PRICE = $1,145,000                                                             1
Name: count, Length: 6490, dtype: int64

In [39]:
df['Serial_Number'].value_counts()

Serial_Number
10010      172
10002      172
10018      172
10030      171
10003      171
          ...
71396        1
71310        1
69652        1
71672        1
1910419      1
Name: count, Length: 96220, dtype: int64

In [41]:
df.isnull().sum()

Serial_Number             0
List_Year                 0
Date_Recorded             2
Town                      0
Address                  51
Assessed_Value            0
Sale_Amount               0
Sale_Ration               0
Property_Type        382446
Residential_Type     398389
Non_Use_Code         784178
Assessor_Remarks     926401
OPM_Remarks         1084598
Location             799518
dtype: int64

In [43]:
df['Date_Recorded'] = pd.to_datetime(df['Date_Recorded'], format='%m/%d/%Y')

# Mengubah format tanggal ke 'YYYY-MM-DD' (opsional, jika diperlukan)
df['Date_Recorded'] = df['Date_Recorded'].dt.strftime('%Y-%m-%d')

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1097629 entries, 0 to 1097628
Data columns (total 14 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Serial_Number     1097629 non-null  int64
 1   List_Year         1097629 non-null  int64
 2   Date_Recorded     1097627 non-null  object
 3   Town              1097629 non-null  object
 4   Address           1097578 non-null  object
 5   Assessed_Value    1097629 non-null  float64
 6   Sale_Amount       1097629 non-null  float64
 7   Sale_Ration       1097629 non-null  float64
 8   Property_Type     715183 non-null   object
 9   Residential_Type  699240 non-null   object
 10  Non_Use_Code      313451 non-null   object
 11  Assessor_Remarks  171228 non-null   object
 12  OPM_Remarks       13031 non-null    object
 13  Location          298111 non-null   object
dtypes: float64(3), int64(2), object(9)
memory usage: 117.2+ MB

In [51]:
df.rename(columns={'Sale_Rations':'Sale_Ratio'},inplace=True)

In [53]:
df.to_csv("D:/Data science/Dataset/Real_Estate_Sales_2001-2022_GL.csv", index=False)

In [55]:
df['Location']

0          POINT (-72.343628962 41.728431984)
1                                         NaN
2                                         NaN
3          POINT (-72.846365959 41.781677018)
4                                         NaN
                          ...
1097624                                   NaN
1097625                                   NaN
1097626                                   NaN
1097627                                   NaN
1097628                                   NaN
Name: Location, Length: 1097629, dtype: object

In [57]:
df.head(1)

,Serial_Number,List_Year,Date_Recorded,Town,Address,Assessed_Value,Sale_Amount,Sale_Ration,Property_Type,Residential_Type,Non_Use_Code,Assessor_Remarks,OPM_Remarks,Location
0,220008,2022,2023-01-30,Andover,618 ROUTE 6,139020.0,232000.0,0.5992,Residential,Single Family,NaN,NaN,NaN,POINT (-72.343628962 41.728431984)